.chrono-suggestion-container {
  display: flex;
  flex-direction: column;
}

.chrono-suggestion-text {
  
}

.chrono-suggestion-preview {
  color: var(--text-muted);
  font-size: 0.9em;
  font-style: italic;
}

.multiple-text-component {
    min-width: 164.8px; /* Not sure if there is a non-hardcoded way */
}

.multiple-text-component textarea {
    field-sizing: content;
    resize: none;
    min-width: 164.8px; 
}